<div id="footer">
    <h1 class="footer-link">
        <a href="http://czhang.info">
            <b>© 2016 Calvin Zhang</b>
        </a>
    </h1>
    <div>
        <ul>
            <li>
                <a href="http://czhang.info">CONTACT US</a>
            </li>
            <li>
                <a href="http://czhang.info">TERMS OF USE</a>
            </li>
            <li>
                <a href="http://czhang.info">PRIVACY POLICY</a>
            </li>
        </ul>
    </div>
</div>
