@{
    ViewBag.Title = "Signing Complete";
}

<div class="box">
    <hgroup class="title">
        <h3><span>@ViewBag.Title</span></h3>
    </hgroup>
    <div>
        <p>
            Execution by all Purchaser(s) is complete.
        </p>
    </div>
</div>