@import "variables";

.button {
    border: 0;
    outline: none;
    border-radius: 2px;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: white;   
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    width: auto;
     .fa {
        display: block;
        padding: 0 0 5px 0;
    }
}

.button-primary {
    background: $button-primary;
}

.button-primary:hover, .button-primary:focus {
    background: $button-primary-hover;
    text-decoration: none;
    color: white;
}

.button-default {
    background: $button-default;
}

.button-default:hover, .button-default:focus {
    background: $button-default-hover;
    text-decoration: none;
    color:white;
}
	 

.button-danger {
    background: $button-danger;
}

.button-danger:hover, .button-danger:focus {
    background: $button-danger-hover;
    text-decoration: none;
    color: white;
}
