* {
  margin: 0;
  padding: 0; }

#footer {
  position: absolute;
  bottom: 10px;
  left: 141px;
  z-index: 1000;
  width: 100%;
  line-height: 12px; }
  #footer div {
    height: 63px;
    background: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 7px 0 0 7px; }
  #footer ul {
    margin-top: 8px; }
  #footer li {
    font-size: 10px;
    cursor: default;
    color: black; }
    #footer li a {
      height: 12px;
      padding: 0 5px;
      font-weight: bold;
      color: #949494;
      display: block;
      width: 100px;
      text-decoration: none;
      transition: .5s ease; }
    #footer li a:hover, #footer li li.cur a {
      color: white; }
  #footer .footer-link {
    position: relative;
    left: -141px;
    margin-bottom: -63px;
    width: 140px;
    opacity: 0.99; }
    #footer .footer-link a {
      text-decoration: none;
      transition: .5s ease; }
    #footer .footer-link a:hover, #footer .footer-link li.cur a {
      color: #1e9f67; }
  #footer h1 a {
    padding: 41px 10px 10px 0;
    color: white;
    background: black 0 -30px repeat-x;
    font-size: 11px;
    text-align: right;
    display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html {
  background: url("../Images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body {
  font-family: "Century Gothic", "Lucida Grande", Arial, sans-serif; }

#footer {
  position: fixed; }

.login-form {
  background: rgba(0, 0, 0, 0.9);
  padding: 40px;
  max-width: 500px;
  margin: 12% auto;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }
  .login-form a {
    text-decoration: none;
    color: #1e9f67;
    -webkit-transition: .5s ease;
    transition: .5s ease; }
  .login-form a:hover {
    color: #188d5a; }
  .login-form .title {
    text-align: center;
    color: #dddada;
    font-weight: 600;
    margin: 0 0 40px;
    text-transform: uppercase;
    font-size: 40px; }
  .login-form .site {
    font-weight: 300; }
  .login-form .field-wrap {
    position: relative;
    margin-bottom: 40px; }
    .login-form .field-wrap label {
      position: absolute;
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
      left: 13px;
      color: #949494;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease;
      -webkit-backface-visibility: hidden;
      pointer-events: none;
      font-size: 18px; }
    .login-form .field-wrap label .req {
      margin: 2px;
      color: #1e9f67; }
    .login-form .field-wrap label.active {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
      left: 2px;
      font-size: 14px; }
    .login-form .field-wrap label.active .req {
      opacity: 0; }
    .login-form .field-wrap label.highlight {
      color: white; }
    .login-form .field-wrap input, .login-form .field-wrap textarea {
      font-size: 22px;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 10px;
      background: none;
      background-image: none;
      border: 1px solid #dddada;
      color: white;
      border-radius: 0;
      -webkit-transition: border-color .25s ease, box-shadow .25s ease;
      transition: border-color .25s ease, box-shadow .25s ease; }
    .login-form .field-wrap input:focus, .login-form .field-wrap textarea:focus {
      outline: 0;
      border-color: #1e9f67; }
  .login-form .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1e9f67;
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none; }
  .login-form .button:hover, .login-form .button:focus {
    background: #188d5a; }
  .login-form .button-block {
    display: block;
    width: 100%; }
  .login-form .forgot {
    margin: -20px 0 10px 0;
    text-align: right; }
  .login-form .remember {
    text-align: left;
    color: #949494; }
  .login-form .validation-summary-errors li {
    font-size: 18px;
    color: #949494;
    padding: 7px;
    margin-bottom: 30px;
    display: block; }
  .login-form .validation-summary-errors li::before {
    font-family: FontAwesome;
    content: "\f06a\ ";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    color: #949494; }

